* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body {
background: linear-gradient(to left top, rgb(0, 15, 92), rgb(0, 0, 0));
  background-attachment: fixed;
  color: #fff;
  min-height: 100vh;
  
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  cursor: pointer;
  display: block;
}

/* HEADER / NAV */
.header {
  width: 100%;
  position: relative;
  background: black;
  
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

.left-cont, .right-cont, nav div {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: cover;
}

.main-nav {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-item {
  opacity: 0.8;
  white-space: nowrap;
}
.nav-item.active {
  opacity: 1;
  font-weight: bold;
}

nav div a {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  background: rgb(23, 107, 232);
  height: auto;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

nav div a:first-child {
  background: #000;
  border: 1px solid #666;
}

.right-cont svg,
.right-cont img {
  margin-right: 22px;
  cursor: pointer;
}
.right-cont img {
  max-width: 40px;
}

/* Responsive NAV */
@media (max-width: 768px) {
  nav div a {
    padding: 8px 10px;
    font-size: 12px;
  }
  .main-nav {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}

/* CONTENEDORES PRINCIPALES*/
.container,
.contenedorIDX,
.contenedorRGST {
  width: 90%;
  max-width: 1200px;
  margin: 130px auto 0;
  text-align: center;
}

.container h1,
.contenedorIDX h1,
.contenedorRGST h1 {
  font-size: 3.8rem;
  margin-bottom: 20px;
  letter-spacing: -3px;
}
.container h3,
.contenedorIDX h3,
.contenedorRGST h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
.container p,
.contenedorIDX p,
.contenedorRGST p {
  font-size: 10px;
  line-height: 1.5;
}

/* Inputs */
.start-input,
.username,
.password,
.correo {
  width: 400px;
  max-width: 100%;
  height: 50px;
  padding: 20px 10px 0;
  border: 1px solid #02ff02;
  background-color: rgba(135, 206, 235, 0.3);
  color: #fff;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}
.start-input::placeholder,
.username::placeholder,
.password::placeholder,
.correo::placeholder {
  color: #fff;
}

/* Botones */
.start-btn,
.login-btn,
.crearUsr-btn {
    background: #176BE8;
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 3px 8px rgba(13, 50, 184, 0.25);
}

.start-btn {
  background: rgb(28, 230, 227);
}
.start-btn:hover {
  background: rgb(20, 200, 197);
}

.login-btn {
  background: rgb(23, 107, 232);
  border-radius: 20px;
}
.login-btn:hover {
  background: rgb(23, 107, 232);
}

.crearUsr-btn {
  background: rgb(23, 107, 232);
}
.crearUsr-btn:hover {
  background: rgb(20, 200, 197);
}

/* CATÁLOGO*/
#contenedor-principal {
  padding: 40px 5%;
}

#contenedor-catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 220px;
  height: 300px;
  background: #111;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .25s ease, box-shadow .25s ease;
}
.card:hover {
  transform: scale(1.06);
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.65);
  z-index: 2;
}

/* MOVIES / BANNER*/
.movies-section {
  margin: 41px 0;
}
.movie-section-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}
.explore-nudge {
  color: #54b9c5;
  font-size: 12px;
  display: none;
}
.movie-section-heading:hover .explore-nudge {
  display: inline-block;
}

.movies-row {
  display: flex;
  overflow-x: auto;
  gap: 6px;
}
.movie-item {
  width: 245px;
  border-radius: 4px;
  position: relative;
}
.movie-item:hover {
  transform: scale(1.3);
  transition: 300ms linear;
}
.movie-item .iframe-wrap {
  display: none;
  position: absolute;
  inset: 0;
}
.movie-item:hover .iframe-wrap {
  display: block;
}

/* Banner */
.banner-section {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 98vh;
  padding-top: 80px;
  position: relative;
}

.banner-content {
  padding-top: 70px;
}

.banner__title {
  font-size: 84px;
  max-width: 40%;
  margin-bottom: 16px;
}

.banner__info {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 14px;
}

.banner__overview {
  font-size: 16.4px;
  line-height: 1.3;
  max-width: 40%;
}

.action-button {
  border: none;
  padding: 8px 23px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 11px;
  font-size: 16px;
  font-weight: 700;
}
.action-button:last-child {
  background: rgba(109, 109, 110, 0.7);
  color: white;
}

.banner_fadeBottom {
  height: 120px;
  background: linear-gradient(180deg, transparent, rgba(37,37,37,.61), #141414);
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* PLANES DE PAGO */
.pricing {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0; 
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.pricing-card {
  background: linear-gradient(145deg, #111829, #0c1220);
  padding: 35px 30px;
  width: 340px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.35);
  border: 1px solid rgba(255,255,255,0.05);
  transition: 0.3s ease-in-out;
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px rgb(0 180 255 / 0.5);
}

.pricing-card.featured {
  border: 2px solid #00eaff;
  box-shadow: 0 0 30px rgba(0, 238, 255, 0.75), 0 0 60px rgba(0, 238, 255, 0.35);
  transform: scale(1.07);
}

.pricing-card h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.price {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0 25px;
  color: #00c8ff;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
}

.pricing-card ul li {
  font-size: 16px;
  margin: 8px 0;
  opacity: 0.9;
}

.pricing-btn {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #007bff, #00d9ff);
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.45);
}

.pricing-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.65);
}

@media (max-width: 900px) {
  .pricing {
    flex-direction: column;
    align-items: center;
  }
}

/*  DETALLE MODAL */
#detalle-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 999;
}
#detalle-overlay.activo {
  opacity: 1;
  pointer-events: all;
}

.detalle-contenido {
  background: #1c1c1c;
  width: 90%;
  max-width: 800px;
  padding: 30px;
  border-radius: 16px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 90vh;
}

.detalle-contenido img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.cerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #091fe5;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}
.cerrar:hover {
  background: #0d51e4;
}

.logout-btn {
  background: transparent;
  color: white;
  border: 2px solid #091be5;
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  height: auto;         
  display: flex;        
  align-items: center;  
  justify-content: center;
}

.logout-btn:hover {
  background: #0926e5;
}

/* CONTENEDOR DEL FORMULARIO */
.contenedorRGST {
    width: 100%;
    max-width: 500px;
    padding: 40px 50px;
    text-align: center;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);

    position: absolute;
    top: 38%;    
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Título */
.contenedorRGST h4 {
    font-size: 24px;
    margin-bottom: 25px;
}

.label {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 6px;
}

/* Etiquetas */
.contenedorRGST h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Inputs */
.contenedorRGST input {
    width: 100%;
    height: 45px;

    border-radius: 6px;
    border: 1px solid #00ff62;

    background-color: rgba(135, 206, 235, 0.25);
    color: white;

    padding: 0 12px;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
}

.contenedorRGST input:focus {
    border-color: #00ffa6;
    background-color: rgba(135, 206, 235, 0.37);
}

/* Botón */
.crearUsr-btn {
    width: 100%;
    height: 48px;
    margin-top: 20px;

    background: rgb(23, 107, 232);
    border: none;
    border-radius: 8px;

    color: white;
    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s ease;
}

.crearUsr-btn:hover {
    background: rgb(20, 200, 197);
}

/* Texto inferior */
.contenedorRGST p {
    margin-top: 25px;
    font-size: 14px;
    opacity: 0.9;
}

.contenedorRGST p a {
    color: #80cfff;
    text-decoration: underline;
}

/* Contenedor central del login */
.contenedorIDX {
    width: 450px;
    margin: 70px auto;
    background: rgba(0,0,0,0.35);
    padding: 35px;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(6px);
    color: white;
}

/* Título */
.contenedorIDX h4 {
    font-size: 24px;
    margin-bottom: 25px;
}


/* Inputs */
.contenedorIDX input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #1db954;
    background: #1f2c3b;
    color: white;
    outline: none;
    font-size: 15px;
}

/* Botón login */
.login-btn {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    background: #1e6df1;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.login-btn:hover {
    background: #0d5de0;
}

.login-link {
    margin-top: 25px;
}

.login-link a {
    font-size: 15px;  
    font-weight: 600;
    color: #5ab2ff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

